<%- include ("partials/log-registerHeader.ejs") %>

<h1 class="reset-password-form">Reset Password</h1>
<form method="POST" action="/forgot-password">
  <input type="email" name="email" placeholder="Enter your email " required>
  <input type="submit" value="Submit">
</form>
 
<%- include ("partials/footer.ejs") %>    